/*Estilização do carrossel*/
#carousel {
  position: relative;
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: 20px auto;
}

.carInner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carBanner {
  min-width: 100%;
  text-align: center;
}

.carBanner img {
  width: 100%;
  height: auto;
}

.carBanner p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}


/* Adiciona os botões < e > do carrossel*/
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}